.nav {
    background-color: rgb(219, 135, 135);
    padding: 20px 50px;
}

.nav .list_nav {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

.nav .title {
    color: #fff;
}

.nav .list_nav li a{
    color: #fff;
    text-decoration: none;
}

.nav button {
    margin-left: 20px;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #fff;
    color: rgb(82, 82, 82);
    border: none;
    cursor: pointer;
}