@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'reset-css';



body {
    font-family: 'Roboto', sans-serif;
}

/* Chorme Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style:none; /*IE and Edge*/
    scrollbar-width: none; /* FireFox */
}

input {
    font-family: 'Roboto', sans-serif;
}